name: tests

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DEFAULT_PYTHON: "3.10"

jobs:
  build:
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.12", "3.14"]
        pandas-version: ["<3", ">=3"]
        os: [ubuntu-latest]
        exclude:
          - python-version: "3.14"
            pandas-version: "<3"
        exclude:
          - python-version: "3.10"
            pandas-version: ">=3"

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: '**/requirements.txt'

    - name: Install dependencies
      run: |
        python -m pip install pytest
        pip install -r requirements.txt
        pip install "pandas${{ matrix.pandas-version }}"

    - name: Run pytest
      run: |
        pytest -rxs